.icon{
    font-size: 28px;
    color:rgb(126, 212, 12);
    position: relative;
    animation: rotacion 2s infinite;
}

@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.box{
    width: 35px;
    height: 35px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;

}